/**
 * @name Material Discord
 * @version 3.0.4
 * @description A theme based on Google's Material Design
 * @author CapnKitten
 * 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/icons/source.css);

:root {
    --accent-hue: 299;
    --accent-saturation: 62%;
    --accent-lightness: 53%;
    --accent-text-color: #111;
	--accent-button-action: #fff; /*	-	*/
	
	--avatar-radius: 50%; /*	-	*/

	--message-radius: 19px;
	--message-padding-top: 8px;
	--message-padding-side: 12px; /*	-	*/

	--media-radius: 19px; /*	-	*/

	--card-radius: 5px;
	--card-radius-big: 10px; /*	-	*/

	--popout-radius: 5px;
	--popout-radius-big: 10px;
}

.theme-dark {
    --saturation-modifier: 0.36;
    --lightness-modifier: 0.24;
}

.theme-light {
    --saturation-modifier: 0.65;
    --lightness-modifier: 2.385;
}